.signupcontainer{
  background: linear-gradient(rgba(255, 255, 255, 0.303),rgba(10, 10, 10, 0)), url('/images/signuppage.jpeg');
	background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:fixed;
	display:flex;
  width:100%;
  height:100%; 
}

.shape:first-child {
  background: linear-gradient(#252320, #3c4042);
  left: -80px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #454141, #2b2a29);
  right: -30px;
  bottom: -80px;
}
.form-signup {
  background-color: rgba(153, 146, 139, 0.13);
  width:10cm;
  transform: translate(-50%, -50%); 
  top: 45%;
  left: 50%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(117, 52, 52, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding:30px 70px;
  align-items: center;
  flex-direction: column;
  position:absolute;
}
.form-signup * {
  color: #ece2e2;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  padding-bottom: 10px;
  
}

.label-signup {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 40;
}
.input-signup {
  display: block;
  height: 25px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 300;
  color: #3a3d38;

}
.input-signup::placeholder {
  color: #c7c1c1;
  text-shadow: 1px 1px rgb(53, 52, 52);
  font-size: 14px;
}

.button-signup {
  width:100%;
  margin-top: 5px;
  border-radius: 4px;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-signup:hover {
  background: linear-gradient(to right, #4e7446, #e4e2e0);
}

.error-signup p {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  padding: 10px 0 0px 0;

}


.label-signup{
  padding-left: 8px;
  font-size: medium;

}

.h4-style-signup{
  font-size: xx-large;
  font-weight:80;
 color: #3c4042;
 }

.h6-style-signup{
 font-size: smaller;
 font-weight:80;
color: #3c4042;
}

.h2-style-singup{
  font-size:xx-large;
  font-weight:20;
}