
body {
    font-family: "Oxygen", sans-serif;
  }
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .card_content {
    /* position: relative; */
    /* padding: 16px 12px 32px 24px;
    margin: 16px 8px 8px 0;
    max-height: 290px; */
    /* overflow-y: scroll; */
    display: flex;
  }
 
  .backgroundImagePost{
    background-size: cover;
	  display: flex;
    opacity: 0.5;
    max-width:auto;

  }