@import url('https://fonts.googleapis.com/css?family=Montserrat');

.profile-page-update {
	background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.283)),
	  url('https://jooinn.com/images/canola.-golden-fields..jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* border: 5px solid rgb(0, 0, 0); */
	display: flex;
	width:100vw;
	height: 100vh;
	align-content: center;
	justify-content: center;
	align-items: center;
}

  .elements-profile{
	display: flex;
	/* border: 5px solid rgb(151, 242, 39); */
	position: fixed;	
}
  
  .addPicture {
	margin: 25px;
  }
  
  .round {
	width: 140px;
  }
  
  h3 {
	margin: 10px 0;
  }
  
  h6 {
	margin: 5px 0;
	text-transform: uppercase;
  }
  
  .style {
	font-size: 14px;
	line-height: 21px;
	display: flex;
	justify-content: left;
	padding: 7px;
  }
  
  .card-body-update {
	font-family: Montserrat, sans-serif;
	display: flex;
	justify-content: center;
	/* border: 5px solid rgb(0, 0, 0); */
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 30px;
	min-height: 500px;

  }
  

  .card-container-update {
	background-color: #1f1a36;
	border-radius: 20px;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #ffffff;
	position: relative;
	width: 100%; 
	border: 5px solid#1f1a36;;
	text-align: center;
	
  }
  
  button.primary {
	background-color: #96a88c;
	border: 1px solid #96a88c;
	border-radius: 3px;
	color: #231e39;
	font-weight: 500;
	padding: 10px 30px;
  }
  
  button.primary.ghost {
	background-color: transparent;
	color: #96a88c;
  }
  
  .skills {
	background-color: #1f1a36;
	text-align: left;
	padding: 20px;
	margin-top: 5px;
  }
  
  .skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .skills ul li {
	border: 1px solid #2d2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 2px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {

	.card-container-update {
	  width: 90%; /* Adjust the width for smaller screens */
	}
  
	.style {
	  margin-left: 10px; /* Adjust the margin for smaller screens */
	}
  
	.card-body-update {
	  padding: 40px; /* Adjust the padding for smaller screens */
	}
  }