@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{padding: 0; margin: 0; box-sizing: border-box;}

.cardSinglePost{
    font-family: Montserrat, sans-serif;
	display: flex; 
	margin-left: 20px;
	min-height: 700px;
	padding-top: 100px;
	position:relative; 
}  

.group{
	align-items: left;
	flex-direction: column;
	justify-items: center;		
}

.imageSinglePost{
	height:50vh;
	width: auto;
	border-radius: 20px ;
}

.description-singlePost{
	font-size: medium;
	color: rgb(0, 0, 0);
}

.title-singlePost{
	font-size: medium;
	margin-top: 7% ;
}

.buttons-singlepost{
	margin: 13%;
}

.text-singlePost{
	color: rgba(136, 127, 127, 0.861);
	font-size: small;
	margin-bottom: 10px;
}
