@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{padding: 0; margin: 0; box-sizing: border-box;}

.cardSinglePost {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding-right: 20px;
	padding-left: 20px; 
	background-color: white;
	padding-top: 100px;	
}

/* .imageSinglePost {
	max-width: 100%;
	height: auto;
  } */
.imageSinglePost {
	width: 350px;
	height: auto;
}

.content {
width: 100%;
min-height: auto;	
padding-right: 50px;
}

.title-singlePost,
.description-singlePost {
margin-top: 15px;
font-weight: bold;
}

.text-singlePost {
margin-top: 5px;
}

.buttons-single {
margin-top: 20px;
min-height: 100px;
margin-bottom: 10px;
}

.button-link {
text-decoration: none;
margin-right: 10px;
}

.primary {
color: white;
border: none;
padding: 8px 15px;
border-radius: 4px;
cursor: pointer;
}

.ghost {
background-color: transparent;

}

.btn-secondary {
margin-right: 10px;
}

.detailsPost{
	font-size: small;
	color: rgb(164, 164, 164);
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 5px;
}

.imagePostDiv{
	display: flex;
	justify-content: left;
}