@import url('https://fonts.googleapis.com/css?family=Montserrat');

.profile-page{
	background: linear-gradient(rgba(123, 36, 36, 0.3),rgba(247, 247, 247, 0.7)), url('https://imgs.search.brave.com/lunXI8Xpn_d2o9DawzLoatzhE9kF5FW53uLgQcW_y40/rs:fit:910:604:1/g:ce/aHR0cHM6Ly9jMS53/YWxscGFwZXJmbGFy/ZS5jb20vcHJldmll/dy82MDUvNzgwLzg0/OC9uYXR1cmUtYmVh/dXR5LWhhcm1vbnkt/bWFrZXVwLmpwZw');
	height: auto;
}

.card-body {
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: auto;
	margin: 80px;
}

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #231E39;
	border-radius: 20px ;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #ffffff;
	padding-top: 15px;
    padding-bottom: 15px;
	position: relative;
	width: 450px;
	max-width: 100%;
	text-align: center;
}

button.primary {
	background-color:  #96a88c;
	border: 1px solid  #96a88c;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 40px;
}

button.primary.ghost {
	background-color: transparent;
	color:  #96a88c;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}


