
body {
  font-family: "Oxygen", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: 100;
  background-color: #697761;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.nav__projectName {
  color:rgba(242, 234, 234, 0.978) ;
  text-decoration: none;
  font-size: 40px;
}
.nav__projectName:hover {
  color:#fafafa;  
}

.authLink {
  color:#dedcdb;  
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #d6976f;
}
.nav__authLinks {
  display: flex;
  align-items: center;
}
.nav-logoutbtn {
  background: linear-gradient(to right, #bcc4b5, #9da19c);
  border: none;
  border-radius: 3px;
  color:#6c7a63;  
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-logoutbtn:hover {
  background: linear-gradient(to right, #a68d52, #e65922);
}
